<template>
  <v-container fluid>
    <v-row no-gutters>
      <v-col class="pa-3" cols="12" lg="3">
        <v-btn large @click="login">login</v-btn>
        <v-btn large @click="logout">logout</v-btn>
      </v-col>
      <v-col class="text-center" cols="12" lg="6">
        <v-card class="mx-auto" width="100%">
          <v-card-title>User:</v-card-title>
          <v-icon>mdi-account</v-icon>
          <template v-if="user != null">
            <v-card-text class="text-left">
              <v-row
                class="my-1"
                justify="start"
                no-gutters
                v-for="(value, key, i) in user"
                :key="i"
              >
                <v-col cols="1">
                  {{ i }}
                </v-col>
                <v-col cols="3">
                  {{ key }}
                </v-col>
                <v-col>
                  {{ value }}
                </v-col>
                <v-col class="text-right"><v-btn small>edit</v-btn> </v-col>
              </v-row>
            </v-card-text>
          </template>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
  data() {
    return {};
  },
  methods: {
    login() {
      this.$store.dispatch("userLogIn");
    },
    logout() {
      this.$store.dispatch("userLogout");
    },
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
  },
};
</script>
