<template>
  <v-row no-gutters>
    <v-col cols="12">
      <v-system-bar window class="text-center"
        ><div class="mx-auto title">Project - Dashboard</div>
      </v-system-bar>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Dashboard",
};
</script>

<style scoped></style>
