<template>
  <v-app>
    <v-app-bar app color="secondary">
      <template v-slot:extension>
        <v-tabs>
          <v-tabs-slider></v-tabs-slider>
          <v-tab to="/">Home</v-tab>
          <v-tab to="/dashboard">Dashboard</v-tab>
        </v-tabs>
      </template>

      <div class="headline text-uppercase mx-auto">Proba - sandbox</div>
      <template v-if="user != null">
        <v-icon>mdi-account</v-icon>
        <div>{{ user.username }}</div>
      </template>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({
    accountColor: "black",
  }),
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
  },
};
</script>
